/* Navbar.css */
.navbar {
    background-color: #f8f8f8;
    padding: 10px 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #2874F0;
    z-index: 100;
  }
  
  .logo img {
    height: 40px;
    cursor: pointer;
  }
  
  .search-bar {
    display: flex;
    width: 45%;
  }
  
  input {
    width: 100%;
    height: 20px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 8px;
  }
  
  button {
    padding: 8px 16px;
    background-color: #FFFFFF;
    color: #2874F0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .icons {
    display: flex;
    gap: 40px;
    color: #FFFFFF;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-size: 25px;
  }

  /* Media Queries */
@media (max-width: 468px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
  }
  @media (max-width: 768px) {
    .icons {
        gap: 15px;
        font-size: 15px;
        padding-right:30px ;
      }
  }
  
  @media (max-width: 968px) {
    .logo img {
        height: 30px;
      }
      .search-bar {
        display: flex;
        align-items: center;
      }
      
      input {
        width: initial;
        height: initial;
        padding: 8px;
        border: 1px solid #ddd;
        border-radius: 4px;
        margin-right: 8px;
      }
      
      button {
        padding: 8px 16px;
        background-color: #FFFFFF;
        color: #2874F0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
  }